version: '3'

services:
 mongodb:
  image: mongo:latest
  container_name: mongodb
  ports:
   - "27017:27017"
  volumes:
   - mongodb_data:/data/db
  networks:
   - app-network
  environment:
   - MONGO_INITDB_DATABASE=tester

 nodejs:
  build:
   context: .
   dockerfile: dockerfile
  container_name: nodejs
  ports:
   - "10111:10111"
  volumes:
   - .:/usr/src/app
   - /usr/src/app/node_modules 
  depends_on:
   - mongodb
  networks:
   - app-network
  restart: unless-stopped
  environment:
   - NODE_ENV=production
   - PORT=10111
   - MONGODB_URI=mongodb://mongodb:27017/tester

networks:
 app-network:
  driver: bridge

volumes:
 mongodb_data: