$background1: #1c1b20; // 약간의 퍼플 느낌 추가
$background2: #2b2a30; // 무채색+딥 퍼플 섞은 느낌
$background3: #35343c; // 살짝 보랏빛 돌게 조정
$background4: #44434d; // 회색+로즈빛 느낌
$gray1: #b0b0b0;
$gray2: #e0e0e0;
$point1: #ff7043;
$point2: #f4511e;
$point3: #bf360c;
